*{
    box-sizing: border-box;
}

html, body {
  height:100%;
  margin: 0;
  padding: 0;


}

#root {
  height:100%;
  margin: 0;
  padding: 0;
  
}

.fade-enter{
    background-color: #E0E0E0;
}

.fade-enter-active {
    background-color: white;
    -webkit-transition:  .3s ease-in all;
    -moz-transition:  .3s ease-in all;
    transition:  .3s ease-in all;
}

.fade-leave {
    position: relative;
    left: 0px;
    opacity: 1
}

.fade-leave-active {
    position: relative;
    left: -30px;
    opacity: 0;
    -webkit-transition:  .3s ease-out all;
    -moz-transition:  .3s ease-out all;
    transition:  .3s ease-out all;
}