.fade-enter{
    background-color: #E0E0E0;
}

.fade-enter-active {
    background-color: white;
    -webkit-transition:  .3s ease-in all;
    -moz-transition:  .3s ease-in all;
    transition:  .3s ease-in all;
}

.fade-leave {
    position: relative;
    left: 0px;
    opacity: 1
}

.fade-leave-active {
    position: relative;
    left: -30px;
    opacity: 0;
    -webkit-transition:  .3s ease-out all;
    -moz-transition:  .3s ease-out all;
    transition:  .3s ease-out all;
}

.FAB {
    animation: shot .1s ease-in-out;


}
@keyframes shot {
  0%{
    position: fixed;
    bottom: 30px;
    right: 30px;
  }

}


.archivePaper-leave {
  opacity: 1;
  left: 0px;
}

.archivePaper-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
  left: -30px;
}


.tagPaper-enter {
    background-color: #E0E0E0;

}

.tagPaper-enter-active {
    background-color: white;
}

.tagPaper-leave {
    background-color: #E0E0E0;
    
}

.tagPaper-leave-active {
    background-color: white;
    
}